datasource_list: [None]

network:
  config: disabled

datasource:
  None:
    metadata:
      instance-id: {instance_id}

    userdata_raw: |
      #cloud-config

      hostname: {hostname}

      ssh_authorized_keys:
{ssh_keys_yaml}

      ssh:
        emit_keys_to_console: false
